


# Want to be able to switch from dev to production 
# 
ENV_TYPE=prod

# =============================
# Main Project Env - Dockerfile
# =============================
APP_DIR=/app
CIRCLE_TEST_REPORTS=/app/backend/circle-junit
BACKEND_DIR=/app/backend


# =============================
# Django - Environment Vars
#
# REMEMBER TO CHANGE SUPERUSER
# NAME AND PASSWORD WITH FIRST
# USE
#
# =============================
#NEED TO REVERT THIS CODE!!!!!!

SUPERUSER_NAME=administrator
SUPERUSER_PASSWORD=password12
SUPERUSER_EMAIL=james.tarball@gmail.com

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=test1
DB_USER=root
DB_PASS=password
DB_HOST=postgres
DB_PORT=5432

DJ_DEV_SETTINGS=True
DJ_LOG_LEVEL=DEBUG 
ADMIN_NAME=James Tarball 
ADMIN_EMAIL=james.tarball@gmail.com 



# Postgresql Docker Service
# =========================
POSTGRES_DB=test1
POSTGRES_USER=root
POSTGRES_PASSWORD=password





#####
# Django
#####

# The name of the Django project, this is used in the files django-uwsgi.ini
# and setup.sh
DJANGO_PROJECT_NAME=starter


#####
# Nginx
#####

# Server name used in nginx.j2
NGINX_SERVER_NAME=localhost

# Here you can specify the location of your SSL/TLS certificate and key.
# This will be specified in the nginx.j2 When empty it uses the default 
# self-signed certificate provided by this project
NGINX_CRT_NAME
NGINX_KEY_NAME










