<link href="{{STATIC_URL}}/bootstrap-source/dist/css/bootstrap.css" rel="stylesheet"> 
 <link href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet">
<link href="{{STATIC_URL}}bootstrap/plugins/bootstrap-markdown2/css/bootstrap-markdown.min.css" rel="stylesheet" media="screen">


<script src="{{STATIC_URL}}dillinger/public/js/jquery.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}/bootstrap-source/dist/js/bootstrap.js"></script>
<script src="{{STATIC_URL}}js/experimental.js" type="text/javascript"></script>




<div id="app_wrap"></div>