
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>SproutCore</title>
  <meta name="description" content="A framework for building fast, desktop caliber web applications." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/static/api.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script> 
  <script src="js/jquery-bbq.js"></script>
  <script src="js/api.js"></script>
  <script src="js/lib/modernizr-1.7.min.js"></script>
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="docs" class="blue">
	
 <div role="main">
   <section id="documentation">
	
<!--	currently in:
	<h1 class="classTitleRouting">Language / VHDL / Primer / </h1>
	prim·er   -  " any book of elementary principles. "
-->
     <h1 class="classTitle">API Documentation Index 
       <ul class="user-stats clearfix">
	     <li><a class="user-stats-count">9,367<span class="user-stats-stat">Views</span></a></li>
		 <li><a class="user-stats-count">226<span class="user-stats-stat">Notes / Fixes</span></a></li>
	     <li><a class="user-stats-count">01/10/2011<span class="user-stats-stat">Created on:</span></a></li>
     	 <li><a class="user-stats-count">Admin   <span class="user-stats-stat">Created By:</span></a></li>
	   </ul>
	   <hr class="component-spacer"></hr>
			</h1>
				<!--	<dl class="inheritsList">

						<input type="submit" class="button secondary large" name="signIn" id="signIn" value="Sign in">
						<form>
						  <input name="q" id="search" placeholder="Search Here - Real Time Results">
						</form>
						<br>

						A Developer?  Need Help &nbsp&nbsp&nbsp&nbsp&nbsp
						<input type="submit" class="button secondary small" name="signIn" value="Ask a Question">
						<br>
						Not A <a>Developer</a>?  Need WD 
						<input type="submit" class="button secondary medium" name="signIn" value="Post a Project"><br>
						29737 act projects


				  </dl>-->

			            <h2 class="classname"><a href="symbols/_global_.html">Subsection-No content</a></h2>
			            <p class="description"></p>

			          <h2 class="classname"><a href="symbols/CoreTools.html">Subsection-Content</a></h2>
			          <p class="description"><p>This framework contains common code shared by the SproutCore developer tools
			including the test runner, doc viewer and welcome apps.</p>

			          <h2 class="classname"><a href="symbols/SC.Array.html">Subsection-Special</a></h2>
			          <p class="description"><p>This module implements Observer-friendly Array-like behavior.</p>
			          <dl class="inheritsList">

			              <dt>Fields borrowed from class <a href="../symbols/SC.Object.html">SC.Object</a>: </dt>
			              <dd><a href="../symbols/SC.Object.html#concatenatedProperties">concatenatedProperties</a>, <a href="../symbols/SC.Object.html#isDestroyed">isDestroyed</a>, <a href="../symbols/SC.Object.html#isObject">isObject</a>, <a href="../symbols/SC.Object.html#nextProperty">nextProperty</a>, <a href="../symbols/SC.Object.html#object">object</a>, <a href="../symbols/SC.Object.html#property">property</a>, <a href="../symbols/SC.Object.html#target">target</a>, <a href="../symbols/SC.Object.html#toInvalidate">toInvalidate</a></dd>

			              <dt>Fields borrowed from class <a href="../symbols/SC.Observable.html">SC.Observable</a>: </dt>
			              <dd><a href="../symbols/SC.Observable.html#isObservable">isObservable</a></dd>

			            </dl>

			          <h2 class="classname"><a href="symbols/SC.AudioView.html">Subsection-Syntax Special</a></h2>
			          <p class="description"><p>Renders a <code class='syntax js'><span class="variable">audioView</span></code> using different technologies like HTML5 audio tag, 
			quicktime and flash.</p>	
            <h2 class="classname"><a href="symbols/_global_.html">Subsection-No content</a></h2>
            <p class="description"></p>
			
          <h2 class="classname"><a href="symbols/CoreTools.html">Subsection-Content</a></h2>
          <p class="description"><p>This framework contains common code shared by the SproutCore developer tools
including the test runner, doc viewer and welcome apps.</p>

          <h2 class="classname"><a href="symbols/SC.Array.html">Subsection-Special</a></h2>
          <p class="description"><p>This module implements Observer-friendly Array-like behavior.</p>
          <dl class="inheritsList">
            
              <dt>Fields borrowed from class <a href="../symbols/SC.Object.html">SC.Object</a>: </dt>
              <dd><a href="../symbols/SC.Object.html#concatenatedProperties">concatenatedProperties</a>, <a href="../symbols/SC.Object.html#isDestroyed">isDestroyed</a>, <a href="../symbols/SC.Object.html#isObject">isObject</a>, <a href="../symbols/SC.Object.html#nextProperty">nextProperty</a>, <a href="../symbols/SC.Object.html#object">object</a>, <a href="../symbols/SC.Object.html#property">property</a>, <a href="../symbols/SC.Object.html#target">target</a>, <a href="../symbols/SC.Object.html#toInvalidate">toInvalidate</a></dd>
            
              <dt>Fields borrowed from class <a href="../symbols/SC.Observable.html">SC.Observable</a>: </dt>
              <dd><a href="../symbols/SC.Observable.html#isObservable">isObservable</a></dd>
            
            </dl>
			
          <h2 class="classname"><a href="symbols/SC.AudioView.html">Subsection-Syntax Special</a></h2>
          <p class="description"><p>Renders a <code class='syntax js'><span class="variable">audioView</span></code> using different technologies like HTML5 audio tag, 
quicktime and flash.</p>
    </section>

    <section id="sidebar">  
	  <header>
		      <dl class="inheritsList" id="sidenav">
			<a>currently in </a>
			<h1>home / language / VHDL / primer / </h1>
		<!--
		        <dt>Other Categories in: <a href="../symbols/SC.Object.html">VHDL</a>: </dt>
					<br>

				      <a href="../symbols/SC.Object.html#object">entity</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    the black box implementation...    <br>
						      <a href="../symbols/SC.Object.html#object">entity</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    the black box implementation...    <br>
								      <a href="../symbols/SC.Object.html#object">entity</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    the black box implementation...    <br>
										      <a href="../symbols/SC.Object.html#object">entity</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    the black box implementation...    <br>
												      <a href="../symbols/SC.Object.html#object">entity</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    the black box implementation...    <br>

		          <dd>		      <a href="../symbols/SC.Object.html#toInvalidate">toInvalidate</a>
					          <a href="../symbols/SC.Object.html#isObject">isObject</a>,
			     </dd>-->
			<a href="#" id="showall"> show all in primer </a>   follow question  need local search next to /primer/
			  </dl>
		  <dl class="inheritsList">
	
				<input type="submit" class="button secondary large" name="signIn" id="signIn" value="Sign in">
				<form>
				  <input name="q" id="search" placeholder="Search Here - Real Time Results">
				</form>
				<br>
				
				A Developer?  Need Help &nbsp&nbsp&nbsp&nbsp&nbsp
				<input type="submit" class="button secondary small" name="signIn" value="Ask a Question">
				<br>
				Not A <a>Developer</a>?  Need WD 
				<input type="submit" class="button secondary medium" name="signIn" value="Post a Project"><!--<br>
				29737 act projects-->
	      

		  </dl>
			  <dl class="inheritsList">

					<input type="submit" class="button secondary large" name="signIn" id="signIn" value="Sign in">
					<form>
					  <input name="q" id="search" placeholder="Search Here - Real Time Results">
					</form>
					<br>

					
				<dt>Footer links</dt>
 <dd><a href="../symbols/SC.Object.html#concatenatedProperties">concatenatedProperties</a>, <a href="../symbols/SC.Object.html#isDestroyed">isDestroyed</a>, <a href="../symbols/SC.Object.html#isObject">isObject</a>, <a href="../symbols/SC.Object.html#nextProperty">nextProperty</a>, <a href="../symbols/SC.Object.html#object">object</a>, <a href="../symbols/SC.Object.html#property">property</a>, <a href="../symbols/SC.Object.html#target">target</a>, <a href="../symbols/SC.Object.html#toInvalidate">toInvalidate</a></dd>

			  </dl>
		
			
	  
	  </header>

	</section>	

  </div>
</body>

</html>


<!--
<html>

<style>

body
{
	font-family: Helvetica, Arial;
	color: #2B332E;
}

.errorlist li
{
	
    margin: 0;
	color: red;
}

a
{
    text-decoration: none;	
    color: #2B332E;
}
p.button
{
    font-size: 0.875em;
    font-weight: bold;
    float: left;
    border: 1px solid #C0CCC4;
    background-color: #ebf2ee;
    padding: 0.25em 8px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px #FFF;
}

</style>

<body>

<h1>Opt-In/Opt-Out</h1>
<h1>You are logged in/ You are not registered... you dont need to be </h1>	
<form method="POST" action="">
autocomplete if logged in / create user but dont activate   - i.e. when registering check email if existed -  tell user he is subscription connect subscription to user
<p>
<label>Email Address</label>
{{ form.email }}
{% if form.email.errors %}{{ form.email.errors }}{% endif %}
</p>

<p>
<label>Subscribe</label>
You are not subscribed  / already subscribed
{{ form.subscribed }}
</p>

<p class="button"><a href="javascript:document.forms[0].submit()">Subscribe/ Unsubscribe</a></p>
</form>


</body>
</html>-->