<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %} {{project_name}}</title>

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />


        <!--<link rel="stylesheet" href="{{STATIC_URL}}css/print.css" media="print"/>->
        <!--[if lt IE 8]><link rel="stylesheet" href="{{STATIC_URL}}css/ie.css" type="text/css" media="screen, projection"><![endif]-->

        <!--<link rel="stylesheet" href="{{STATIC_URL}}css/screen.css" media="screen, projection"/>-->


        <!--<script src="{{STATIC_URL}}js/jquery-1.9.0.min.js"></script>-->

        <!--<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}bootstrap/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" media="screen">
        <link href="{{STATIC_URL}}bootstrap/plugins/bootstrap-markdown/less/bootstrap-markdown.less" rel="stylesheet/less" media="screen">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="{{STATIC_URL}}/css/joint.css" rel="stylesheet" media="screen">
        <link href="{{STATIC_URL}}/css/development.css" rel="stylesheet" media="screen">
        <!---<link rel="stylesheet" href="{{STATIC_URL}}js/highlight.js-line-numbers/src/styles/default.css">-->
        <!---<script src="{{STATIC_URL}}js/highlight.js-line-numbers/src/highlight.js"></script>-->
        <!--<script type="text/javascript">hljs.tabReplace='<span class="indent"></span>'; hljs.initHighlightingOnLoad();</script>-->
        <!--<script>hljs.initHighlightingOnLoad();</script>-->


        
        <script>
            function allowDrop(ev)
            {
                ev.preventDefault();
            }

            function drag(ev)
            {
                ev.dataTransfer.setData("Text",ev.target.id);
            }

            function drop(ev)
            {
                ev.preventDefault();
                var data=ev.dataTransfer.getData("Text");
                ev.target.appendChild(document.getElementById(data));
            }
        </script>

        <script>
            function allowDropElement(ev)
            {
                console.log('allowDropElement');
                ev.preventDefault();
            }

            function dragStencilElement(ev)
            {
                console.info("This is some debug info.", ev);
                ev.dataTransfer.setData("target_id",ev.target.id);
            }

            function dropElement(ev)
            {
                console.log(ev);
                ev.preventDefault();
                var data=ev.dataTransfer.getData("target_id");
                console.log(data)
                
                //ev.target.appendChild(document.getElementById(data));
            }
        </script>

<style type="text/css">
#div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
</style>

         <!--[if (gte IE 6)&(lte IE 8)]>
                <script type="text/javascript" src="{{STATIC_URL}}js/selectivizr-min.js"></script>
                <script type="text/javascript" src="{{STATIC_URL}}js/respond.min.js"></script>
        <![endif]-->

        <!--<script src="{{STATIC_URL}}js/modernizr.custom.74326.js"></script>-->

        {% comment %} 
            Link site specific js and css here
        {% endcomment %}
        {% block extra_head %}{% endblock%}
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">


<!--
<div id="div1" ondrop="drop(event)"
ondragover="allowDrop(event)"></div>


<img id="drag1" src="{{STATIC_URL}}img/rect.svg" draggable="true"
ondragstart="dragStencilElement(event)" width="336" height="69">

<button id="btn-layout">dragdrop</button>



<div id="rect" draggable="true" ondragstart="dragStencilElement(event)">
<svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" id="v_36" width="150" height="130" background="#27AE60">
    <g id="v_37" class="viewport">
        <g id="j_1" class="element basic Rect" model-id="f3ce141d-f21b-45d3-9b7d-5a1b1f5b53f8" fill="#FFFFFF" stroke="none" transform="translate(20,23)">
        <g class="rotatable" id="v_46" transform="rotate(0,45,27)">
            <g class="scalable" id="v_49" transform="scale(1.8,1.8)">
                <rect id="v_47" fill="#27AE60" stroke="black" width="50" height="30" rx="2" ry="2"></rect>
            </g>
            <text id="v_48" font-size="10" fill="white" font-family="Arial, helvetica, sans-serif" stroke="black" stroke-width="0" y="0.8em" transform="translate(36.5,21.5) ">rect</text>
        </g>
        </g>
    </g>
</svg>
</div>


<div id="stencilbar" background="#27AE60">
             FIXME: Need a way to set size of html around and for the svg component automatically 
            HACK: manually set both width and height for html components 
            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-rect" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <!-- UML Diagrams 
            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-umlclass" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-umlinterface" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-umlabstract" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-umlgeneralization" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <!-- UML StateCharts 
            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-umlstate" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-umlstartstate" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-umlendstate" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>
            
            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-umlstatetransition" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <!-- Finite State Machine 
            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-startstate" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>
            
            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-endstate" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>
            
            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-state" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>

            <div class="stencilelem" draggable="true" ondragstart="dragStencilElement(event)">
                <svg id="stencil-arrowstate" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" background="#27AE60"></svg>
            </div>
        </div>
        <div>


-->






<!--
 <div class="row">
    <div class="col-xs-12 col-md-8">

 -->


        <!--<div id="stencil" ondragover="allowDropElement(event)" ondrop="dropElement(event)">bmnb</div>-->
        <!--<div id="paper" ondragover="allowDropElement(event)" ondrop="dropElement(event)">bmnb</div> -->
    </div>
   
        <div id="dia-table" onChange="updateCell()">

            <div class="input-group">
                <span class="input-group-addon">ID:</span>
               <a href="#" id="diacellid"></a>  
            </div>
          
            <div class="input-group">
                <span class="input-group-addon">Text</span>
                <a href="#" class="form-control" id="diacelltext" data-type="text" data-pk="1" data-url="" data-title="Enter username">superuser</a>
            </div>
            
            <div class="input-group">

                <span class="input-group-addon">Font Size</span>
                <a>
                    <form oninput="amount.value=diacellfontsize.value">
                        <input type="range" id="diacellfontsize" name="diacellfontsize" min="8" max="100">
                        <output name="amount" for="diacellfontsize">16</output>
                    </form>

                </a>
            </div>       

            <div class="input-group">

                <span class="input-group-addon">Font Colour</span>
                <a>
                    <form>
                        <input type="color" id="diacellcolor" name="diacellcolor">
                       
                    </form>

                </a>
            </div>   
            presnetaiton


            <div class="input-group">

                <span class="input-group-addon">Element Colour</span>
                <a>
                    <form>
                        <input type="color" id="diaelemcolor" name="diaelemcolor">
                       
                    </form>

                </a>
            </div>   


            <div class="input-group">

                <span class="input-group-addon">Height</span>
                <a>
                    <form oninput="amount.value=diaelemheight.value">
                        <input type="range" id="diaelemheight" name="diaelemheight" min="8" max="100">
                        <output name="amount" for="diaelemheight">16</output>
                    </form>

                </a>
            </div>    



            <div class="input-group">

                <span class="input-group-addon">RX</span>
                <a>
                    <form oninput="amount.value=diaelemrx.value">
                        <input type="range" id="diaelemrx" name="diaelemrx" min="0" max="100">
                        <output name="amount" for="diaelemrx">5</output>
                    </form>

                </a>
            </div>    



            <div class="input-group">

                <span class="input-group-addon">RY</span>
                <a>
                    <form oninput="amount.value=diaelemry.value">
                        <input type="range" id="diaelemry" name="diaelemry" min="0" max="100">
                        <output name="amount" for="diaelemry">5</output>
                    </form>

                </a>
            </div>   



            <div class="input-group">

                <span class="input-group-addon">Stroke</span>
                <a>
                    <form>
                        <input type="color" id="diaelemstroke" name="diaelemstroke">
                       
                    </form>

                </a>
            </div>  



            <div class="input-group">

                <span class="input-group-addon">Width</span>
                <a>
                    <form oninput="amount.value=diaelemwidth.value">
                        <input type="range" id="diaelemwidth" name="diaelemwidth" min="8" max="100">
                        <output name="amount" for="diaelemwidth">16</output>
                    </form>

                </a>
            </div>   












        <button id="btn-save">Save</button>
        <div>
<!--
    </div>
</div>

-->


















        <h1>{{project_name}}</h1>
        {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li id="message_{{ forloop.counter }}"
              {% if message.tags %} class="{{ message.tags }}"
                  {% endif %}>
              {{ message }}
</li>
          {% endfor %}
      </ul>
{% endif %}
        <script src="{{STATIC_URL}}/js/jquery-1.10.2.min.js"></script>
        <script src="{{STATIC_URL}}/js/markdown.js"></script>
        <!-- <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>-->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}bootstrap/plugins/js/tooltip.js"></script>
        <script src="{{STATIC_URL}}bootstrap/plugins/js/popover.js"></script>
        <script src="{{STATIC_URL}}bootstrap/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
      
<a href="#" class="btn danger" 
            rel="popover" 
            data-original-title="title" 
            data-content="">popover</a>
<script>

      $("a[rel=popover]").popover({
    trigger: 'hover',
    placement : 'right',
    html: true, // used once (and the 2 above)
    title : 'My title for popover1',
    content : function(element){return '<a href="#" id="username" data-type="text" data-pk="1" data-url="" data-title="Enter username">superuser</a>'}});



</script>
    <script></script>

        <script src="{{STATIC_URL}}/js/joint.js"></script>
      
        <script src="{{STATIC_URL}}/js/joint.shapes.uml.min.js"></script>
        <script src="{{STATIC_URL}}/js/joint.shapes.fsa.min.js"></script>
        <script src="{{STATIC_URL}}/js/joint.layout.DirectedGraph.min.js"></script>
        <script src="{{STATIC_URL}}/js/dagre.min.js"></script>
    








<!--
    <form>
    <input name="title" type="text" placeholder="Title?" />
    <textarea name="content" data-provide="markdown" rows="10"></textarea>
    <label class="checkbox">
    <input name="publish" type="checkbox"> Publish
    </label>
    <hr/>
    <button type="submit" class="btn">Submit</button>
    </form> 
  -->



<form height="500px" width="1000px">
    <input name="title" type="text" placeholder="Title?" />
    <textarea id="target-editor-with-custom-buttons" data-provide="markdown" rows="10"></textarea>
</form> 





<textarea id="adjacency-list">{
  'This is\nan element': ['b', 'c'],
  'b': ['f'],
  'c': ['e', 'd'],
  'd': [],
  'e': [],
  'f': ['g'],
  'g': []
}</textarea>


<link href="{{STATIC_URL}}bootstrap/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="{{STATIC_URL}}bootstrap/plugins/bootstrap3-editable/js/bootstrap-editable.min.js"></script>




<!--

<div class="input-group">
  <span class="input-group-addon">Text</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<button id="btn-layout">Layout</button>
<a href="#" id="username" data-type="text" data-pk="1" data-url="" data-title="Enter username">superuser</a>


<div class="panel panel-default">
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>


<br></br>



<button id="btn-save">Save</button>

-->



        {% block content %}
            <p>
                Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, 
                a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis 
                dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            </p>
        {% endblock %}









<script>// Helpers.
// --------

function buildGraphFromAdjacencyList(adjacencyList) {

    var elements = [];
    var links = [];
    
    _.each(adjacencyList, function(edges, parentElementLabel) {
        elements.push(makeElement(parentElementLabel));

        _.each(edges, function(childElementLabel) {
            links.push(makeLink(parentElementLabel, childElementLabel));
        });
    });

    // Links must be added after all the elements. This is because when the links
    // are added to the graph, link source/target
    // elements must be in the graph already.
    return elements.concat(links);
}

function makeLink(parentElementLabel, childElementLabel) {

    return new joint.dia.Link({
        source: { id: parentElementLabel },
        target: { id: childElementLabel },
        attrs: { '.marker-target': { d: 'M 4 0 L 0 2 L 4 4 z' } },
        smooth: true
    });
}

function makeElement(label) {

    var maxLineLength = _.max(label.split('\n'), function(l) { return l.length; }).length;

    // Compute width/height of the rectangle based on the number
    // of lines in the label and the letter size. 0.6 * letterSize is
    // an approximation of the monospace font letter width.
    var letterSize = 8;
    var width = 2 * (letterSize * (0.6 * maxLineLength + 1));
    var height = 2 * ((label.split('\n').length + 1) * letterSize);

    return new joint.shapes.basic.Rect({
        id: label,
        size: { width: width, height: height },
        attrs: {
            text: { text: label, 'font-size': letterSize, 'font-family': 'monospace' },
            rect: {
                width: width, height: height,
                rx: 5, ry: 5,
                stroke: '#555'
            }
        }
    });
}

function displayElementAttributes(attributes) {

    console.log(attributes);
    $( "#username" ).html(attributes.text.text);


   // _.each(attributes, function (item) { console.log(item); });
}













// Main.
// -----

var graph = new joint.dia.Graph;
var stencilgraph = new joint.dia.Graph;

//graph.on('change:position', function(element) {
//    console.log(element.id, ':', element.get('position'));
//    console.log(graph.getElements())
//    console.log(graph.getLinks())
//})






var paper = new joint.dia.Paper({

    el: $('#paper'),
    width: 200,
    height: 200,
    gridSize: 1,
    model: graph
});



var stencil = new joint.dia.Paper({

    el: $('#stencil'),
    width: 2000,
    height: 2000,
    gridSize: 1,
    model: stencilgraph
});


// Just give the viewport a little padding.
V(paper.viewport).translate(20, 20);

V(stencil.viewport).translate(20, 20);




paper.on('cell:pointerup', function(cellView, evt){

    //displayElementAttributes(cellView.model.attributes.attrs);
    $('#diacellid').html(cellView.model.id);

    //var a = graph.toJSON();
    
    console.log(cellView)
    //console.log(evt)
    //console.log(cellView.model.attributes.attrs.text.text);
    //cellView.model.attributes.attrs.text.text = 'dsadasdasd'

    //graph.fromJSON(JSON.parse(a))
    

    //var jsonString = JSON.stringify(graph);
    //graph.resetCells();
    //console.log(jsonString);
    // ... send jsonString to the server, 
    // store it to the localStorage or do whatever you want
    // ... later on
    //graph.fromJSON(JSON.parse(jsonString));


    //$("g[class=scalable]").popover({
    //trigger: 'hover',
    //placement : 'right',
    //html: true, // used once (and the 2 above)
    //title : 'My title for popover1',
    //content : function(element){return cellView.model.attributes}});

    //console.log(evt);
    //console.log(cellView);
    //console.log(cellView.model.attributes);
   //_.each(cellView.model.attributes, function (item) {
   //         console.log(item);
   //     });



});





//turn to inline mode
$.fn.editable.defaults.mode = 'inline';

$(document).ready(function() {
    $('#username').editable();
});








$('#btn-save').on('click', layout);


$('#btn-layout').on('click', deleteElem);
//$('#btn-change').on('click', layout);

function layout() {
    console.log('layout')
    try {
        var adjacencyList = eval('adjacencyList = ' + $('#adjacency-list').val());
    } catch (e) { alert(e); }
     
    var cells = buildGraphFromAdjacencyList(adjacencyList);
    graph.resetCells(cells);
    joint.layout.DirectedGraph.layout(graph, { setLinkVertices: false });
}
//layout();


function dragdrop(){
    var rect = new joint.shapes.basic.Rect({ 
        position: { x: 100, y: 100 },
        size: { width: 70, height: 30 },
        attrs: { text: { text: 'my rectangle' } },
        methods: ['method1', 'method2']
    });
    //var rect2 = rect.clone();
    //var link = new joint.dia.Link({ source: { id: rect.id }, target: { id: rect2.id }  });

    graph.addCell(rect);


}


function deleteElem(){
    // Gets Element and deletes it
    var element = graph.getCell($('#diacellid').text());
    element.remove();

}
function createRect(){
    var rect = new joint.shapes.basic.Rect({ 
        position: { x: 100, y: 100 },
        size: { width: 70, height: 30 },
        attrs: { text: { text: 'my rectangle' } },
        methods: ['method1', 'method2']
    });
    //var rect2 = rect.clone();
    //var link = new joint.dia.Link({ source: { id: rect.id }, target: { id: rect2.id }  });

    graph.addCell(rect);


}

function createUMLClass(){

    // Creates Default UML Class
    var umlclass = new joint.shapes.uml.Class({ 
        position: { x: 100, y: 100 },
        size: { width: 70, height: 30 },
        attrs: { text: { text: 'my rectangle' } }
    });

    console.log(umlclass);

    // Finally, add Class to Graph
    graph.addCell(umlclass);
}



function createStencil()
{
    // Help function to create drag & drop stencil
    createRect();

}



function updateCell(){
    // Update Cell from client-side html5
    console.log($('#diacellid').text())
    var cellView = graph.getCell($('#diacellid').text());
    console.log('cellView:', cellView);
    
    // Text of Element
    cellView.attributes.attrs.text['text'] = $('#diacelltext').text();
    cellView.attributes.attrs.text['font-size'] = $('#diacellfontsize').val();
    cellView.attributes.attrs.text['fill'] = $('#diacellcolor').val();

    // Size of Element
    cellView.attributes.size.height = $('#diaelemheight').val();
    cellView.attributes.size.width = $('#diaelemwidth').val();

    // Presentation
    cellView.attributes.attrs.rect['fill'] = $('#diaelemcolor').val();
    cellView.attributes.attrs.rect['height'] = $('#diaelemheight').val();
    cellView.attributes.attrs.rect['rx'] = $('#diaelemrx').val();
    cellView.attributes.attrs.rect['ry'] = $('#diaelemry').val();
    cellView.attributes.attrs.rect['stroke'] = $('#diaelemstroke').val(); 
    cellView.attributes.attrs.rect['width'] = $('#diaelemwidth').val();

    // Update Graph
    var jsonString = JSON.stringify(graph);
    graph.resetCells();
    graph.fromJSON(JSON.parse(jsonString));    

}

Stencil = {
    typesd : 'sdfsdfds',

    rect : new joint.shapes.basic.Rect({
        id: 'ad',
        size: { width: 50, height: 30 },
        attrs: {
            text: { text: 'ad', 'font-size': 10, 'font-family': 'monospace' },
            rect: {
                width: 50, height: 30,
                rx: 5, ry: 5,
                stroke: '#555'
            }
        }
    }),




    poo :function(){ console.log('This is a function');}


}

function createStencilElement(element, dom_id){
    var view = stencil.createViewForModel(element);
    V(stencil.viewport).append(view.el);
    view.paper = stencil;
    view.render(); 

    // Insert into DOM
    $(dom_id).html(view.el);
}


function createStencil()
{
    //$('.stencilbar').show();
    console.log('tried showing..')
    // Create 
    var a = Stencil;
    a.poo();
    var view = stencil.createViewForModel(new joint.shapes.basic.Rect({
        markup: '<div id="rect" draggable="true" ondragstart="dragStencilElement(event)"><g class="rotatable"><g class="scalable"><rect/></g><text/></g></div>',
        id: 'ad',
        size: { width: 50, height: 30 },
        attrs: {
            text: { text: 'ad', 'font-size': 10, 'font-family': 'monospace' },
            rect: {
                width: 50, height: 30,
                rx: 5, ry: 5,
                stroke: '#555'
            }
        }}));
        V(stencil.viewport).append(view.el);

        console.log('view: ', view);
        view.paper = stencil;
        console.log(view.el);
        view.render();
        console.log(view.el);

        stencil.undelegateEvents();
var markup = '<g class="rotatable"><g class="scalable"><rect/></g><text/></g>';
    var nodes = V(markup);
    console.log('nodes:', nodes)
    //console.log(view, view.render());
    $('#stencil-rect').html(view.el);

    // Creates Default UML Class
    var umlclass = new joint.shapes.uml.Class({ 
        //position: { x: 100, y: 100 },
        size: { width: 70, height: 30 },
        attrs: { text: { text: 'my rectangle' } }
    });

    var view = stencil.createViewForModel(umlclass);
    V(stencil.viewport).append(view.el);
    view.paper = stencil;
    view.render(); 

    $('#stencil-umlclass').html(view.el);


    // Create UML Interface
    var umlinterface = new joint.shapes.uml.Interface({ 
        size: { width: 70, height: 30 },
        attrs: { text: { text: 'my rectangle' } }
    });
    var view = stencil.createViewForModel(umlinterface);
    V(stencil.viewport).append(view.el);
    view.paper = stencil;
    view.render(); 
    // Insert into DOM
    $('#stencil-umlinterface').html(view.el);  

    // Create UML Abstract
    var umlabstract = new joint.shapes.uml.Abstract({ 
        size: { width: 70, height: 30 },
        attrs: { text: { text: 'my rectangle' } }
    });
    var view = stencil.createViewForModel(umlabstract);
    V(stencil.viewport).append(view.el);
    view.paper = stencil;
    view.render(); 
    // Insert into DOM
    $('#stencil-umlabstract').html(view.el);    

    // Create UML Link Generalization
    var umlgeneralization = new joint.shapes.uml.Generalization({ 
        attrs: { '.connection': { stroke: 'blue' },
        '.marker-source': { fill: 'red', d: 'M 0 0 L 10 10 L 10 -10 z' },
        '.marker-target': { fill: 'yellow', d: 'M 0 0 L 10 10 L 10 -10 z' }
        },
        source : { x:25, y:10 }, 
        target : { x:25, y:50},
        smooth : true 
    });
    createStencilElement(umlgeneralization,'#stencil-umlgeneralization');

    // Create UML Link Implementation
    var umlimplementation = new joint.shapes.uml.Implementation({ 
        attrs: { '.connection': { stroke: 'blue' },
        '.marker-source': { fill: 'red', d: 'M 0 0 L 10 10 L 10 -10 z' },
        '.marker-target': { fill: 'yellow', d: 'M 0 0 L 10 10 L 10 -10 z' }
        },
        source : { x:25, y:10 }, 
        target : { x:25, y:50},
        smooth : true 
    });
    createStencilElement(umlimplementation,'#stencil-umlimplementation');

    // Create UML Link Aggregation
    var umlaggregation = new joint.shapes.uml.Aggregation({ 
        attrs: { '.connection': { stroke: 'blue' },
        '.marker-source': { fill: 'red', d: 'M 0 0 L 10 10 L 10 -10 z' },
        '.marker-target': { fill: 'yellow', d: 'M 0 0 L 10 10 L 10 -10 z' }
        },
        source : { x:25, y:10 }, 
        target : { x:25, y:50},
        smooth : true 
    });
    createStencilElement(umlaggregation,'#stencil-umlaggregation');

    // Create UML Link Composition
    var umlcomposition = new joint.shapes.uml.Composition({ 
        attrs: { '.connection': { stroke: 'blue' },
        '.marker-source': { fill: 'red', d: 'M 0 0 L 10 10 L 10 -10 z' },
        '.marker-target': { fill: 'yellow', d: 'M 0 0 L 10 10 L 10 -10 z' }
        },
        source : { x:25, y:10 }, 
        target : { x:25, y:50},
        smooth : true 
    });
    createStencilElement(umlcomposition,'#stencil-umlcomposition');

    // Create UML Link Association
    var umlassociation = new joint.shapes.uml.Composition({ 
        attrs: { '.connection': { stroke: 'blue' },
        '.marker-source': { fill: 'red', d: 'M 0 0 L 10 10 L 10 -10 z' },
        '.marker-target': { fill: 'yellow', d: 'M 0 0 L 10 10 L 10 -10 z' }
        },
        source : { x:25, y:10 }, 
        target : { x:25, y:50},
        smooth : true 
    });
    createStencilElement(umlassociation,'#stencil-umlassociation');


    //
    // StateCharts
    //

    // Create UML State
    var umlstate = new joint.shapes.uml.State({
        attrs: {
            rect: { 'width': 50, 'height': 50, 'fill': '#ecf0f1', 'stroke': '#bdc3c7', 'stroke-width': 3, 'rx': 10, 'ry': 10 },
            path: { 'd': 'M 0 20 L 200 20', 'stroke': '#bdc3c7', 'stroke-width': 2 },
            '.uml-state-name': {
                'ref': 'rect', 'ref-x': 15, 'ref-y': 15, 'text-anchor': 'middle',
                'font-family': 'Courier New', 'font-size': 8, fill: '#000000'
            },
            '.uml-state-events': {
                'ref': 'path', 'ref-x': 5, 'ref-y': 5,
                'font-family': 'Courier New', 'font-size': 14, fill: '#000000'
            }
        }
    });
    createStencilElement(umlstate,'#stencil-umlstate');

    // Create UML Start State
    var umlstartstate = new joint.shapes.uml.StartState();
    createStencilElement(umlstartstate,'#stencil-umlstartstate');

    // Create UML Start State
    var umlendstate = new joint.shapes.uml.EndState();
    createStencilElement(umlendstate,'#stencil-umlendstate');

    // Create UML State Link Transition
    var umlstatetransition = new joint.shapes.uml.Transition({ 
        attrs: { '.connection': { stroke: 'blue' },
        '.marker-source': { fill: 'red', d: 'M 0 0 L 10 10 L 10 -10 z' },
        '.marker-target': { fill: 'yellow', d: 'M 0 0 L 10 10 L 10 -10 z' }
        },
        source : { x:25, y:10 }, 
        target : { x:25, y:50},
        smooth : true 
    });
    createStencilElement(umlstatetransition,'#stencil-umlstatetransition');


    //
    // Finite State Machines
    //

    // Create Start State Diagram
    var startstate = new joint.shapes.fsa.StartState();
    var view = stencil.createViewForModel(startstate);
    V(stencil.viewport).append(view.el);
    view.paper = stencil;
    view.render(); 
    // Insert into DOM
    $('#stencil-startstate').html(view.el);

    // Create End State Diagram
    var endstate = new joint.shapes.fsa.EndState();
    var view = stencil.createViewForModel(endstate);
    V(stencil.viewport).append(view.el);
    view.paper = stencil;
    view.render(); 
    // Insert into DOM
    $('#stencil-endstate').html(view.el);

    // Create State Diagram
    var state = new joint.shapes.fsa.State({ attrs: { text: { text: 'state' } }});
    var view = stencil.createViewForModel(state);
    V(stencil.viewport).append(view.el);
    view.paper = stencil;
    view.render(); 
    // Insert into DOM
    $('#stencil-state').html(view.el);

    // Create State Diagram
    var arrowstate = new joint.shapes.fsa.Arrow({
                attrs: { '.connection': { stroke: 'blue' },
        '.marker-source': { fill: 'red', d: 'M 0 0 L 10 10 L 10 -10 z' },
        '.marker-target': { fill: 'yellow', d: 'M 0 0 L 10 10 L 10 -10 z' }
        },
        source : { x:25, y:10 }, 
        target : { x:25, y:50},
        smooth : true 
        });
    var view = stencil.createViewForModel(arrowstate);
    V(stencil.viewport).append(view.el);
    view.paper = stencil;
    view.render(); 
    // Insert into DOM
    $('#stencil-arrowstate').html(view.el);

//$('.stencilbar').toggle( showOrHide );

}

//createStencil();



</script>



    </body>
</html>
