{% load url from future %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-pjax-version" content="v123">
        <title>{% block title %} {% endblock %} {{project_name}}</title>

        <!-- Stylesheets ------------------------------------------------- -->
        <link href="{{STATIC_URL}}/bootstrap-source/dist/css/bootstrap.css" rel="stylesheet"> 
        <link href="{{STATIC_URL}}bootstrap/plugins/bootstrap-markdown2/css/bootstrap-markdown.min.css" rel="stylesheet" media="screen">
        <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}bootstrap/plugins/tocify/css/jquery.tocify.css" />
        <link href="{{STATIC_URL}}css/slidemenu/stylesheets/slidemenu.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet">
       <script type="text/javascript" src="http://typecast.com/project_css/kpCR697q6N/2041874a006ede.js"></script>
       <!--<script type="text/javascript" src="http://typecast.com/project_css/kpCR697q6N/2047128db64391.js"></script>-->
        <link href="{{STATIC_URL}}bootstrap/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet">
        <!-- End of Stylesheets ------------------------------------------ -->



    </head>
    <body>
    <!-- Modal Definition -->


<!-- Navigation -->
<nav id="slide-menu">
  <ul>
    <li class="timeline">Timeline</li>
    <li class="events">Events</li>
    <li class="calendar">Calendar</li>
    <li class="sep settings">Settings</li>
    <li class="logout">Logout</li>
  </ul>
</nav>
{% load navbar_tags %}





<!-- Content panel -->
<div id="content">
    <div class="menu-trigger"></div>
   <header>
       <img src="{{STATIC_URL}}logo_words.png" float="center" height="100" width="140" onhover="{{STATIC_URL}}logo_darkbrown_100_100.png" />
                 
      <div class="navbuttons"><ul>
        <li><a class="btn btn-underline btn-lg">What is codewheel.io?</a></li>
      </ul></div>
      <div class="navbuttons"><ul>
        <li><a href="https://github.com/twbs/bootstrap" class="btn btn-outline btn-lg">Register</a></li>
        <li><a href="https://github.com/twbs/bootstrap" class="btn btn-outline-reverse btn-lg">Login</a></li>
      </ul></div>
    </header>

      <div class="container">    <hr>
    <h2>codewheel.io</h2>
    <hr>
           <h2>Section 3</h2>
          <h2>Section 4</h2>
          <h2>Section 5</h2>
          <h2>Section 6</h2>
          <h1>Section 7</h1>

        </div>
        

        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-12 col-md-8">




        </div>
    </div>

    <hr>


<div class="breaded">
{% render_breadcrumbs "navbar.html" %}

      
    </div>



          <h1>Section 8</h1>

</div> 
<!-- End of content -->











        <!-- Javascripts ------------------------------------------------- -->
        <script src="{{STATIC_URL}}/js/jquery-2.0.3.js"></script>
        <script src="{{STATIC_URL}}/js/jquery.pjax.js"></script>
        <script src="{{STATIC_URL}}/js/jquery-ui.js"></script>
        <script src="{{STATIC_URL}}/bootstrap-source/dist/js/bootstrap.js"></script>
        <!--<script src="{{STATIC_URL}}/js/markdown.js"></script>-->
        <!--<script src="{{STATIC_URL}}bootstrap/plugins/bootstrap-markdown2/js/bootstrap-markdown.js"></script>-->
         <script src="{{STATIC_URL}}/js/jquery.cookie.js"></script>
        <script src="{{STATIC_URL}}/js/csrf.js"></script>
        <script src="{{STATIC_URL}}bootstrap/plugins/tocify/js/jquery.tocify.min.js"></script>
        <script src="{{STATIC_URL}}bootstrap/plugins/bootstrap-switch/js/bootstrap-switch.js"></script> 




        <script>
            $(function() {

                var toc = $("#toc").tocify({
                  selectors: "h2,h3,h4,h5"
                }).data("toc-tocify");

                $(".optionName").popover({ trigger: "hover" });

            });
        </script>
             <script>
$(document).ready(function(){
    $("[data-toggle=tooltip]").tooltip({ placement: 'right'});
    
});



$(document).ready(function(){

    function showToggle(){

 $("#userMen").slideToggle(10, function() { $('#userMenuCaret').toggleClass('fa-caret-up')});

}


   // $("[data-toggle=hideShowToggle]").showToggle();


// $("#target-editor").markdown({  
//     editable: true,
//     savable: true,
//     onSave: function(e) {
//         console.log('onsave', e.getContent());
//         $( "#mainSave" ).append('<input id="id_title" maxlength="255" name="title" type="text" value="'+ e.getContent() + '">');
//         $( "#mainSave" ).submit();
//         //e.hidePrevi();
     
//   }
  
// })


    
    
});
    



    </script>



        <script>

/*
  Slidemenu
*/
(function() {
  var $body = document.body
  , $menu_trigger = $body.getElementsByClassName('menu-trigger')[0];

  if ( typeof $menu_trigger !== 'undefined' ) {
    $menu_trigger.addEventListener('click', function() {
      $body.className = ( $body.className == 'menu-active' )? '' : 'menu-active';
    });
  }

}).call(this);



  $('#loading-example-btn').click(function () {
    var btn = $(this)
    btn.button('loading')
    //$.ajax(...).always(function () {
    //  btn.button('reset')
    //});
  });

          

      $( document ).ready(function() {
         $(".js-directory-link").attr("href", function(){ return $("tbody").data('url') + $(this).attr("href")})
         $(document).pjax('a', '[data-pjax]')
         console.log('ready')
      });





          $('#userSettings').click(function() 
          {
            //console.log('clicked')
            //q = $('#q').val();
            
            $("#myModal").modal('toggle');
          });




        function toggleSettings(){
            $("#myModal").modal('toggle');
        }          


            function toggleNavbar()
            {
                console.log('toggling NavBar')
                $('.navbar').toggle()
                $('.navbar').toggleClass("navbar-fixed-top navbar-static-top")
                $('.navbar').toggle()
                //$('#navbartoggle').html('poo')
            }
        </script>



        <!-- End of Javascripts ------------------------------------------ -->
    </body>
</html>
