<polymer-element name="post-title" attributes="noink" role="tab" inline flex center-center horizontal layout>
<template>

  <link rel="stylesheet" href="paper-title.css">
  
  <div class="tab-content" flex auto center-center horizontal layout><content></content></div>


      <div style="margin: 0 auto;">
        <core-image id="logo" sizing="cover" width="76px" height="76px" src="{% static "sass/static/img/logo_76_2.svg" %}"></core-image>
        <h1 style="display:inline-block;">This is the Post Title.</h1>
      </div>

  
</template>